@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dbd9d9;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5e5c5c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
}

.react-calendar__navigation__label__labelText
  react-calendar__navigation__label__labelText--from {
  font-weight: 600 !important;
}
